/* Global */
:root {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #01080e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  color: rgb(251, 251, 251);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}
/* Decoration */

.backdrop {
  padding: 15px;
}

.container {
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-color: rgb(1, 22, 39);
}

/* Header */

.header {
  border-bottom: 1px solid rgb(30, 45, 61);
}

.header-navigation {
  display: flex;
  max-width: 100%;
  padding: 17px 18px;
  align-items: center;
}

.header-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.header-logo:hover,
.header-logo:focus,
.header-logo:active {
  color: #7ba4d1;
}

.header-open-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header-open-menu-icon {
  fill: #607b96;
}

/* About */
.about-title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 450;
  line-height: 140%;
  padding: 21px 27px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.about-list-item {
  display: flex;
  align-items: center;
  background: rgb(30, 45, 61);
  padding: 5px 27px;
}

.about-list-icon {
  fill: #ffffff;
  transform: rotate(-90deg);
}
.about-list-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.3;
}
.personal-list {
  display: flex;
  flex-direction: column;
}
.personal-list-item {
  display: none;
}
.personal-item-icon {
}
.personal-item-button {
}
.bio-icon {
}
.bio-button {
}
.interests-list {
}
.interests-list-item {
}
.interests-list-icon {
}
.interests-list-button {
}
.education-list {
}
.education-list-item {
}
.education-item-icon {
}
.education-item-button {
}

/* Mob-menu */

.header-backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background-color: #01080e;
  padding: 15px;
  transition: 450ms ease-in-out;
}

.header-mob-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-color: rgb(1, 22, 39);
  margin: 0 auto;
  max-width: 100%;
  min-height: 95vh;
}

.mob-navigation {
  display: flex;
  max-width: 100%;
  padding: 11.3px 13px;
  align-items: center;
  border-bottom: 1px solid rgb(30, 45, 61);
}

.mob-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
}

.close-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.close-menu-icon {
  fill: #607b96;
}

.mob-menu-list-item {
  border-bottom: 1px solid rgb(30, 45, 61);
  padding: 17px 0;
}

.mob-menu-item-link {
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.3;
  padding-left: 18px;
}

.active {
  color: #607b96;
}

.media-container {
  margin-top: auto;
  display: flex;
  border-top: 1px solid rgb(30, 45, 61);
  max-width: 100%;
}

.mob-description {
  color: rgb(96, 123, 150);
  font-weight: 450;
  line-height: 1.31;
  padding: 14px 18px;
}

.mob-soc-list {
  display: flex;
  margin-left: auto;
}

.mob-soc-list-item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(30, 45, 61);
}

.mob-soc-item-link {
  margin-top: 8px;
}

.mob-soc-link-icon {
  fill: #607b96;
  transition: fill 250ms ease-in-out;
}

.mob-soc-link-icon:hover,
.mob-soc-link-icon:focus,
.mob-soc-link-icon:active {
  fill: #7ba4d1;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
