/* ------------------------------------------------Global------------------------------------------------ */
:root {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #01080e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  color: rgb(251, 251, 251);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

/* ------------------------------------------------Decorations------------------------------------------------ */

.backdrop {
  padding: 15px;
}

.container {
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-color: rgb(1, 22, 39);
}

/* ------------------------------------------------Header---------------------------------------------------- */

.header {
  border-bottom: 1px solid rgb(30, 45, 61);
}

.header-navigation {
  display: flex;
  max-width: 100%;
  padding: 17px 18px;
  align-items: center;
}

.header-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.header-logo:hover,
.header-logo:focus,
.header-logo:active {
  color: #7ba4d1;
}

.header-open-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.header-open-menu-icon {
  fill: #607b96;
}

/* ------------------------------------------------About---------------------------------------------------- */

.about-title {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 450;
  line-height: 140%;
  padding: 21px 27px;
}

/* ------------------------------------------------About list ------------------------------------------------ */

.about-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.about-list-item {
  display: flex;
  flex-direction: column;
  background: rgb(30, 45, 61);
  padding: 5px 27px;
}

.about-list-icon {
  fill: #ffffff;
  transform: rotate(-90deg);
}

.about-list-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.about-list-button:hover,
.about-list-button:focus,
.about-list-button:active {
  color: #7ba4d1;
}

.about-list-title {
  display: flex;
  align-items: center;
}

/* ------------------------------------------------Personal list ------------------------------------------------ */

.personal-list {
  display: flex;
  flex-direction: column;
}

.personal-title {
  display: flex;
  padding-left: 8px;
  align-items: center;
}
.personal-item-arrow {
  margin-right: 13px;
  color: #607b96;
}

.personal-item-icon-red {
  fill: #e99287;
}

.personal-item-icon-green {
  fill: #43d9ad;
}

.personal-item-icon-violet {
  fill: #3a49a4;
}

.personal-item-button {
  border: none;
  background-color: transparent;
  color: rgb(96, 123, 150);
  font-weight: 300;
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.personal-item-button:hover,
.personal-item-button:focus,
.personal-item-button:active {
  color: #7ba4d1;
}

/* ------------------------------------------------bio list------------------------------------------------- */

.bio-list {
  flex-direction: column;
}

.bio-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.bio-icon {
  fill: #81a1c1;
}

.bio-button {
  background-color: transparent;
  border: none;
  color: #607b96;
  font-weight: 300;
  line-height: 1.3;
  transition: color 250 ms ease-in-out;
}

.bio-button:hover,
.bio-button:focus,
.bio-button:active {
  color: #7ba4d1;
}

/* --------------------------------------------------interests list------------------------------------------------ */

.interests-list {
  flex-direction: column;
}

.interests-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.interests-list-icon {
  fill: #81a1c1;
}

.interests-list-button {
  background-color: transparent;
  border: none;
  color: #607b96;
  font-weight: 300;
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.interests-list-button :hover,
.interests-list-button :focus,
.interests-list-button :active {
  color: #7ba4d1;
}

/* --------------------------------------------------education list------------------------------------------------ */

.education-list {
  flex-direction: column;
}

.education-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.education-item-icon {
  fill: #81a1c1;
}

.education-item-button {
  background-color: transparent;
  border: none;
  color: #607b96;
  font-weight: 300;
  line-height: 1.3;
  transition: color 250ms ease-in-out;
}

.education-item-button:hover,
.education-item-button:focus,
.education-item-button:active {
  color: #7ba4d1;
}

/* -------------------------------------------------Textarea------------------------------------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.textarea {
  padding: 38px 27px;
}

.textarea-container {
  display: flex;
  gap: 10px;
  margin-bottom: 17px;
}

.textarea-path {
  font-size: 16px;
  font-weight: 350;
  line-height: 140%;
}

.textarea-path-span {
  color: #607b96;
  line-height: 140%;
}

.textarea-text {
  color: rgb(96, 123, 150);
  font-weight: 450;
  line-height: 150%;
}

/* ------------------------------------------------Code-------------------------------------------------- */

.code {
  padding: 0 27px 38px 27px;
}

.code-title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 450;
  line-height: 140%;
  margin-bottom: 28px;
}

.code-container {
  display: flex;
  margin-bottom: 12px;
}

.code-img {
  height: 36px;
  width: 36px;
  margin-right: 11px;
}

.code-info-container {
  display: flex;
  flex-direction: column;
}

.code-name {
  color: rgb(85, 101, 232);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 3px;
}

.code-description {
  color: rgb(96, 123, 150);
  font-size: 12px;
  font-weight: 450;
  line-height: 1.33;
}

.code-button {
  font-size: 14px;
  font-weight: 450;
  line-height: 1.28;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 6.5px;
}

.details-hover {
  fill: #607b96;
  color: #607b96;
  transition: fill 250ms ease-in-out, color 250ms ease-in-out;
}

.details-hover:hover,
.details-hover:focus,
.details-hover:active {
  fill: #7ba4d1;
  color: #7ba4d1;
}

/* ------------------------------------------------Codearea------------------------------------------------ */

.codearea {
  box-sizing: border-box;
  border: 1px solid rgb(30, 45, 61);
  border-radius: 15px;
  padding: 24px;
  background: rgb(1, 18, 33);
}

.code-text {
  color: #607b96;
  font-size: 14px;
  font-weight: 450;
  line-height: 170%;
}

/* ------------------------------------------------Message------------------------------------------------ */

.code-message {
  border-top: 1px solid #607b96;
  padding-top: 17px;
  padding-right: 4px;
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.code-message-text {
  color: rgb(96, 123, 150);
  font-size: 14px;
  font-weight: 450;
  line-height: 150%;
}

.code-message-button {
  margin-top: 7px;
  display: flex;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.code-message-icon {
  fill: #607b96;
}

/* ------------------------------------------------Footer------------------------------------------------ */

.footer {
  margin-top: auto;
  display: flex;
  border-top: 1px solid rgb(30, 45, 61);
  max-width: 100%;
}

.footer-description {
  color: rgb(96, 123, 150);
  font-weight: 450;
  line-height: 1.31;
  padding: 14px 18px;
}

.footer-soc-list {
  display: flex;
  margin-left: auto;
}

.footer-soc-list-item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(30, 45, 61);
}

.footer-soc-item-link {
  margin-top: 8px;
}

.footer-soc-link-icon {
  fill: #607b96;
  transition: fill 250ms ease-in-out;
}

.footer-soc-link-icon:hover,
.footer-soc-link-icon:focus,
.footer-soc-link-icon:active {
  fill: #7ba4d1;
}

/* ------------------------------------------------Mob-menu--------------------------------- */

.header-backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background-color: #01080e;
  padding: 15px;
  transition: 450ms ease-in-out;
  z-index: 1000;
}

.header-mob-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-color: rgb(1, 22, 39);
  margin: 0 auto;
  max-width: 100%;
  min-height: 95vh;
}

.mob-navigation {
  display: flex;
  max-width: 100%;
  padding: 11.3px 13px;
  align-items: center;
  border-bottom: 1px solid rgb(30, 45, 61);
}

.mob-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
}

.close-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.close-menu-icon {
  fill: #607b96;
}

.mob-menu-list-item {
  border-bottom: 1px solid rgb(30, 45, 61);
  padding: 17px 0;
}

.mob-menu-item-link {
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 1.3;
  padding-left: 18px;
}

.mob-menu-item-link-active {
  color: #607b96;
  font-weight: 300;
  line-height: 1.3;
  padding-left: 18px;
}

.media-container {
  margin-top: auto;
  display: flex;
  border-top: 1px solid rgb(30, 45, 61);
  max-width: 100%;
}

.mob-description {
  color: rgb(96, 123, 150);
  font-weight: 450;
  line-height: 1.31;
  padding: 14px 18px;
}

.mob-soc-list {
  display: flex;
  margin-left: auto;
}

.mob-soc-list-item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(30, 45, 61);
}

.mob-soc-item-link {
  margin-top: 8px;
}

.mob-soc-link-icon {
  fill: #607b96;
  transition: fill 250ms ease-in-out;
}

.mob-soc-link-icon:hover,
.mob-soc-link-icon:focus,
.mob-soc-link-icon:active {
  fill: #7ba4d1;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
