/* Global */
:root {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #01080e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  color: rgb(251, 251, 251);
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/* Decoration */

.backdrop {
  padding: 15px;
}

.container {
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-image: url("../img/header-blur.png");
  background-position: center;
  background-color: rgb(1, 22, 39);
}

/* Header */

.header {
  border-bottom: 1px solid rgb(30, 45, 61);
}

.header-navigation {
  display: flex;
  max-width: 100%;
  padding: 17px 18px;
  align-items: center;
}

.header-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
}

.header-open-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

/* Hero */

.hero {
  padding: 91px 21px 42px 21px;
}

.hero-hello {
  color: rgb(229, 233, 240);
  font-size: 18px;
  line-height: 1.16;
  margin-bottom: 10px;
}

.hero-title {
  color: rgb(229, 233, 240);
  font-size: 52px;
  font-weight: 300;
  line-height: 100%;
  margin-bottom: 5px;
}

.hero-subtitle {
  color: rgb(67, 217, 173);
  font-size: 20px;
  font-weight: 450;
  line-height: 1.3;
  margin-bottom: 195px;
}

.hero-text {
  color: rgb(96, 123, 150);
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 16px;
}

.hero-link-github {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.hero-const {
  color: #4d5bce;
}

.hero-github {
  color: #43d9ad;
}

.hero-link {
  color: #e99287;
}

/* Footer */

.footer {
  border-top: 1px solid rgb(30, 45, 61);
}

.designed {
  color: rgb(96, 123, 150);
  font-size: 14px;
  line-height: 1.3;
  padding: 13px 18px;
  text-align: center;
}

/* Mob-menu */

.header-backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  background-color: #01080e;
  padding: 15px;
}

.header-mob-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(30, 45, 61);
  border-radius: 8px;
  background-color: rgb(1, 22, 39);
  margin: 0 auto;
  max-width: 100%;
  min-height: 95vh;
}

.mob-navigation {
  display: flex;
  max-width: 100%;
  padding: 11.3px 18px;
  align-items: center;
  border-bottom: 1px solid rgb(30, 45, 61);
}

.mob-logo {
  color: rgb(96, 123, 150);
  line-height: 1.3;
}

.close-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.mob-menu-list-item {
  border-bottom: 1px solid rgb(30, 45, 61);
  padding: 17px 0;
}

.mob-menu-item-link {
  padding-left: 18px;
}

.media-container {
  margin-top: auto;
  display: flex;
  border-top: 1px solid rgb(30, 45, 61);
  max-width: 100%;
}

.mob-description {
  color: rgb(96, 123, 150);
  font-weight: 450;
  line-height: 1.31;
  padding: 14px 18px;
}

.mob-soc-list {
  display: flex;
  margin-left: auto;
}

.mob-soc-list-item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(30, 45, 61);
}

.mob-soc-item-link {
  margin-top: 8px;
}

/* ------Media--------*/

/* Tablet */

@media screen and (min-width: 768px) {
}

/* PC */
@media screen and (min-width: 1280px) {
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
